<html>
    <head>
        <title>Ed Engel's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ed Engel's blog</a></h1>
			<h2><a href="">A little look into my life</a></h2>
        </div>

        <div>
            <p>published: 8/9/2018, 12:45</p>
            <h2><a href="">My first post</a></h2>
            <p>This is a placeholder</p>
        </div>

        <div>
            <p>published: 8/9/2018, 12:45</p>
            <h2><a href="">My second post</a></h2>
            <p>Another placeholder</p>
        </div>
    </body>
</html>